<mat-grid-list cols="4" rowHeight="200px" gutterSize="10px">
  <mat-grid-tile *ngFor="let user of usersDashboard">
    <mat-card>
      <mat-card-header>
        <mat-icon mat-card-avatar color="accent">account_box</mat-icon>
        <mat-card-title><h3>{{user.first_name}} {{user.last_name}}</h3></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Id: {{user.id}}</p>
        <p>Email: {{user.email}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="accent" routerLink="/users/{{user.id}}"><mat-icon>mode_edit</mat-icon>Edit</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile colspan="4">
    <mat-card>
      <mat-card-header>
        <mat-card-title><h3>Create New User</h3></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Create a new user account by clicking the new account button below.
        </p>
      </mat-card-content>
      <mat-card-actions>
          <button mat-raised-button color="accent" routerLink="/createUser"><mat-icon>add</mat-icon>New Account</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
